extends layout

mixin stats(stats,header2,header1)
  table.stats
    thead
      if header1
        tr
          each span in header1
            th(colspan=span.colspan)=span.name
    tr
      each stat in header2
        th= stat
    tr
      each stat in header2
        td= stats[stat]

block content
  h2= player.Name + " #" + player.Number + " " + player.Position
  h3= "Team: " 
    a(href="/team/"+player.Team.replace(/ /g,"_"))= player.Team

  if player["Offensive Line"]
    br
    h3= "Offensive Line"
    - header2 = ["Year","G","GS"]
    mixin stats(player["Offensive Line"], header2)

  if player["Defensive"]
    br
    h3= "Defensive"
    - header2 = ["Year", "G","Total","Ast","Sck","SFTY","PDef","Int","TDs","Yds","Avg","Lng"]
    - header1 = [{colspan: 3}, {colspan: 3, name: "Tackles"}, {colspan: 2}, {colspan: 6, name: "Interceptions"}]
    mixin stats(player["Defensive"], header2, header1)

  if player["Receiving"]
    br
    h3= "Receiving"
    - header2 = ["Year","G"]
    mixin stats(player["Receiving"], header2)

  if player["Rushing"]
    br
    h3= "Rushing"
    - header2 = ["Year","G"]
    mixin stats(player["Rushing"], header2)
    
  if player["Passing"]
    br
    h3= "Passing"
    - header2 = ["Year", "G",	"Att", "Comp", "Pct",	"Att/G"	, "Yds", "Avg",	"Yds/G",	"TD",	"TD%", "Int",	"Int%",	"Lng",	"20+",	"40+",	"Sck",	"SckY",	"Rate"]
    mixin stats(player["Passing"], header2)

  if player.tweets
    br
    h3= "Tweets"
    each tweet in player.tweets
        if tweet.sentiment == "negative"
          p
            img(src="/static/happy-face.gif", width="25px", style="display:inline-block;vertical-align:top;margin:0;")
            = " " + tweet.Tweet
        else
          p
            img(src="/static/sad-face.gif", width="25px", style="display:inline-block;vertical-align:top;margin:0;")
            = " " + tweet.Tweet

