extends layout

block content
  table(border=1)
    thead
      tr
        th= "Rank"
        th= "Name"
        th= "Team"
        th= "Position"
        th= "# Positive Tweets"
        th= "# Negative Tweets"
        th= "% of Tweets Positive"
        th= "% of Tweets Negative"
    - var rank = 1
    each player in results
      tr
        td= rank++
        td
          a(href="/player/"+player.id)= player.Name
        td= player.Team || "Free agent"
        td= player.Position
        td= player.num_pos || 0
        td= player.num_neg || 0
        td= Math.round(player.num_pos/(player.num_pos+player.num_neg)*100) || 0
        td= Math.round(player.num_neg/(player.num_pos+player.num_neg)*100) || 0
        //td= JSON.stringify(player);