extends layout

append head
  script(type='text/javascript')
    $(document).ready(function() {
      $("table.tablesorter").tablesorter({sortList: [[0,0]]});
    });

block content
  table.tablesorter
    thead
      tr
        th= "Rank"
          span.sort_img
        th= "Name"
          span.sort_img
        th= "Team"
          span.sort_img
        th= "Position"
          span.sort_img
        th= "# Positive Tweets"
          span.sort_img
        th= "# Negative Tweets"
          span.sort_img
        th= "% of Tweets Positive"
          span.sort_img
        th= "% of Tweets Negative"
          span.sort_img
    - var rank = 1
    each player in results
      tr
        td= rank++
        td
          a(href="/player/"+player.id)= player.Name
        td
          a(href="/team/"+player.Team.replace(/ /g,"_"))= player.Team
        td= player.Position
        td= player.num_pos || 0
        td= player.num_neg || 0
        td= Math.round(player.num_pos/(player.num_pos+player.num_neg)*100) || 0
        td= Math.round(player.num_neg/(player.num_pos+player.num_neg)*100) || 0
        //td= JSON.stringify(player);